* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

button {
    border-radius: 10px;
    background-color: #ffffff;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    height: 40px;

    .left-menu {
        margin: 0px;

        .menu-button {
            width: 60px;
            height: 40px;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 0em;
            border: none;
            color: #404040;
            outline: 0;
            cursor: pointer;
        }

        .tasks {
            padding: 0 10px 0;
            
            .task-button {
                min-width: 120px;
                height: 40px;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0.01em;
                text-align: center;
                cursor: pointer;
                padding: 0px 20px;
            }
            
            .task-button + .task-button {
                margin-left: 10px;
            }
        }

        .add {
            border: 1px solid #C9C9C9;
            padding-bottom: 5px;
            cursor: pointer;
        }
    }

    .right-menu {
        margin: 0px;
        
        .stop-button {
            width: 120px;
            height: 40px;
            margin-left: 10px;
            color: #C9C9C9;
            border: 1px solid #C9C9C9;
        }
        
        .timer {
            align-self: center;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 200;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: right;
            color: #C9C9C9;
        }
    }
}

.line {
    height: 1px;
    background-color: #808080;
    margin: 0 10px 0;
}

.results {
    margin: 0 10px 0;

    .day {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 60px;

        .data {
            text-align: center;
            padding-left: 6px;
            padding-right: 5px;
            font-size: 20px;
            color: #C9C9C9;
        }

        .task{
            font-size: 20px;
            color: #ffffff;
            height: 40px;
            width: 300px;
            border-radius: 10px;
            background-color: #fccf50;
            margin-left: 10px;
            padding: 8px 10px 0 0;
            text-align: end;
        }
    }

    .dayline {
        height: 1px;
        background-color: #C9C9C9;
    }
}
